In [1]:
import os
os.curdir
os.chdir('/Users/manojravikumar/Public/60162417/05-tutorials/14-aiml/machine-learning-practice/supervised')

import warnings
warnings.filterwarnings("ignore")

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [13]:
# Create empty DataFrame with column names
df = pd.DataFrame(columns=["Day", "Outlook", "Temperature", "Humidity", "Wind", "Play"])

# Feed rows one by one
df.loc[len(df)] = [1,  "Sunny",    "Hot",  "High",   "Weak",   "No"]
df.loc[len(df)] = [2,  "Sunny",    "Hot",  "High",   "Strong", "No"]
df.loc[len(df)] = [3,  "Overcast", "Hot",  "High",   "Weak",   "Yes"]
df.loc[len(df)] = [4,  "Rain",     "Mild", "High",   "Weak",   "Yes"]
df.loc[len(df)] = [5,  "Rain",     "Cool", "Normal", "Weak",   "Yes"]
df.loc[len(df)] = [6,  "Rain",     "Cool", "Normal", "Strong", "No"]
df.loc[len(df)] = [7,  "Overcast", "Cool", "Normal", "Strong", "Yes"]
df.loc[len(df)] = [8,  "Sunny",    "Mild", "High",   "Weak",   "No"]
df.loc[len(df)] = [9,  "Sunny",    "Cool", "Normal", "Weak",   "Yes"]
df.loc[len(df)] = [10, "Rain",     "Mild", "Normal", "Weak",   "Yes"]
df.loc[len(df)] = [11, "Sunny",    "Mild", "Normal", "Strong", "Yes"]
df.loc[len(df)] = [12, "Overcast", "Mild", "High",   "Strong", "Yes"]
df.loc[len(df)] = [13, "Overcast", "Hot",  "Normal", "Weak",   "Yes"]
df.loc[len(df)] = [14, "Rain",     "Mild", "High",   "Strong", "No"]

print(df)

    Day   Outlook Temperature Humidity    Wind Play
0     1     Sunny         Hot     High    Weak   No
1     2     Sunny         Hot     High  Strong   No
2     3  Overcast         Hot     High    Weak  Yes
3     4      Rain        Mild     High    Weak  Yes
4     5      Rain        Cool   Normal    Weak  Yes
5     6      Rain        Cool   Normal  Strong   No
6     7  Overcast        Cool   Normal  Strong  Yes
7     8     Sunny        Mild     High    Weak   No
8     9     Sunny        Cool   Normal    Weak  Yes
9    10      Rain        Mild   Normal    Weak  Yes
10   11     Sunny        Mild   Normal  Strong  Yes
11   12  Overcast        Mild     High  Strong  Yes
12   13  Overcast         Hot   Normal    Weak  Yes
13   14      Rain        Mild     High  Strong   No

In [14]:
df[(df["Temperature"] == "Cool") & (df["Play"] == "No")]

   Day Outlook Temperature Humidity    Wind Play
5    6    Rain        Cool   Normal  Strong   No

## Gaussian Normal Distribution Example

In [19]:
df1 = pd.DataFrame(columns=["Age", "Sex", "Height", "Weight", "Fat"])

# Feed rows one by one
df1.loc[len(df1)] = [19,  "Female", 162,  46,  "Slim"]
df1.loc[len(df1)] = [21,  "Male",   168,  55,  "Slim"]
df1.loc[len(df1)] = [23,  "Female", 158,  70,  "Fat"]
df1.loc[len(df1)] = [26,  "Male",   172,  76,  "Fat"]
df1.loc[len(df1)] = [28,  "Female", 160,  52,  "Slim"]
df1.loc[len(df1)] = [31,  "Male",   175,  82,  "Fat"]
df1.loc[len(df1)] = [33,  "Female", 162,  60,  "Slim"]
df1.loc[len(df1)] = [36,  "Male",   178,  92,  "Fat"]
df1.loc[len(df1)] = [38,  "Female", 168,  58,  "Slim"]
df1.loc[len(df1)] = [41,  "Male",   165,  72,  "Fat"]
df1.loc[len(df1)] = [43,  "Female", 160,  49,  "Slim"]
df1.loc[len(df1)] = [46,  "Male",   170,  85,  "Fat"]
df1.loc[len(df1)] = [48,  "Female", 158,  53,  "Slim"]
df1.loc[len(df1)] = [52,  "Male",   180,  78,  "Fat"]
df1.loc[len(df1)] = [54,  "Female", 166,  61,  "Slim"]
df1.loc[len(df1)] = [57,  "Male",   172,  89,  "Fat"]
df1.loc[len(df1)] = [59,  "Female", 164,  70,  "Fat"]
df1.loc[len(df1)] = [62,  "Male",   178,  95,  "Fat"]
df1.loc[len(df1)] = [65,  "Female", 160,  55,  "Slim"]
df1.loc[len(df1)] = [67,  "Male",   168,  88,  "Fat"]


X1=df1[["Age", "Sex", "Height", "Weight"]]
y1=df1["Fat"]

from sklearn.model_selection import train_test_split
X1_train, X1_test, y1_train, y1_test = train_test_split(X1,y1, test_size=0.235, random_state=54)

from sklearn.preprocessing import LabelEncoder
age_encoder = LabelEncoder()
X1_train["Sex"] = age_encoder.fit_transform(X1_train["Sex"])
X1_test["Sex"] = age_encoder.transform(X1_test["Sex"])

fat_encoder = LabelEncoder()
y1_train = fat_encoder.fit_transform(y1_train)
y1_test = fat_encoder.transform(y1_test)

print(X1_train)
print(y1_train)

    Age  Sex  Height  Weight
12   48    0     158      53
4    28    0     160      52
10   43    0     160      49
6    33    0     162      60
9    41    1     165      72
14   54    0     166      61
16   59    0     164      70
8    38    0     168      58
0    19    0     162      46
1    21    1     168      55
7    36    1     178      92
19   67    1     168      88
2    23    0     158      70
5    31    1     175      82
15   57    1     172      89
[1 1 1 1 0 1 0 1 1 1 0 0 0 0 0]

In [20]:
from sklearn.naive_bayes import GaussianNB
gaussNB1 = GaussianNB()
gaussNB1.fit(X=X1_train, y=y1_train)
y1_pred=gaussNB1.predict(X=X1_test)

In [21]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
print("Gaussian NB:: predicts", y1_pred)
print("Gaussian NB:: Accuracy score is ", accuracy_score(y_true=y1_test,y_pred=y1_pred))
print("Gaussian NB:: Classification Report is \n", classification_report(y_true=y1_test,y_pred=y1_pred))
print("Gaussian NB:: Confusion Matrix is \n", confusion_matrix(y_true=y1_test,y_pred=y1_pred))

Gaussian NB:: predicts [0 0 0 0 1]
Gaussian NB:: Accuracy score is  1.0
Gaussian NB:: Classification Report is
               precision    recall  f1-score   support

           0       1.00      1.00      1.00         4
           1       1.00      1.00      1.00         1

    accuracy                           1.00         5
   macro avg       1.00      1.00      1.00         5
weighted avg       1.00      1.00      1.00         5

Gaussian NB:: Confusion Matrix is
 [[4 0]
 [0 1]]

In [22]:
import seaborn as sns
sns.load_dataset('tips')

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]